{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}

<div class="help-tip">
  <p><b>*First Name:</b> Enter the new employee’s first name in this field<br>
    <b>*Last Name:</b> Enter the new employee’s last name in this field<br>
    <b>*Username:</b> Enter an employee’s username in this field, this will be the username that employees login with<br>
    <b>*Password:</b> Enter a password for the new employee in this field, this will be the password for the account.<br>
    <b>*Password Confirmation:</b> Confirm the password by typing the same password in this field<br>
    <b>*PTO Hours:</b> Enter the amount of paid time off hours that an employee will start off with in this field<br>
    <b>*Sick Hours:</b> Enter the amount of sick hours that an employee will start off with in this field<br>
    <b>*PTO Accrual:</b> Enter the accrual rate for paid time off on an hourly basis using decimals to represent minutes, for example 30 minutes is .5<br>
    <b>*Sick Accrual:</b> Enter the accrual rate for sick time on a  basis
    </p>
</div>
<div style = "position:absolute; left:10%">
<h2>Create User</h2>
<form method="post">
  {{ form1.as_p }}
  {{ form2.as_p }}

  {% csrf_token %}
  <input style="background-color: dodgerblue; color: white;" type="submit" class="btn btn-primary" value="Create User">
</form>

<br>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
  {% endfor %}
</ul>
{% endif %}
</div>


{% endblock content %}