{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}

<div class="help-tip">
  <p>
    <b>*Employee Choice:</b> This menu will allow you to select the employee, or employees that you want to view their report<br>
    <b>*Report Type:</b> This will allow you to view the report either in a web based view through the website, or in a downloadable .csv file that can be opened in excel<br>
    <b>*Start Date:</b> Use this widget to select the start of the time frame of the report<br>
    <b>*End Date:</b> Use this widget to select the end of the time frame of the report<br>
    <b>*Generate Report:</b> Use this button to generate the report<br>
    <b>*Time Frame:</b> This drop down menu will allow you to select the time frame of the report, the time frames are 7 days, 14 days, 30 days, 90 days, and 180 days.<br>
    <b>*Note:</b> Reports do include the starting and ending times input (or current day if using prebuilt time periods).
    </p>
</div>
<div style = "position:absolute; left:10%">
<h4>Custom Start and End Date Summary Report</h4>
<form method="post" id="form2">
{% csrf_token %} {{ form2.as_p}}
  <input class="btn mt-3 btn-primary" name="customSummary" value="Submit" type="submit"/>
</form>
<br>


<h4>Predefined Time Summary Report</h4>
<form method="post" id="form">
{% csrf_token %} {{ form.as_p}}
   <input class="btn mt-3 btn-primary" name="predefined" value="Submit" type="submit"/>
</form>
<br>


<h4>Individual Time Entry Report</h4>
<form method="post" id="form3">
{% csrf_token %} {{ form3.as_p}}
  <input class="btn mt-3 btn-primary" name="timeEntry" value="Submit" type="submit"/>
</form>
</div>
{% endblock %}





