{% extends 'base.html' %} {% block content %}
{%include 'navbar.html' %}

<div class="help-tip">
  <p>
<b>*Request Type:</b> Click this dropdown menu to select the type of request (Paid Time Off, Sick Time, Overtime, or a time correction)<br>
<b>*Start Time Date:</b> Select the day and time that the request will occur, or had occurred, by using the calendar and time widget.<br>
<b>*End Time Date:</b> Select the day and time that the request will end, or had ended, by using the calendar and time widget.<br>
<b>*PTO Guidelines:</b><br>You must have enough PTO stored to cover the request<br>
                            You can not request a day in the past, a weekend, or less than one hour<br>
                            Half day requests and full day requests must be put in separately<br>
<b>*Sick Day Guidelines:</b><br>You must have enough Sick time stored to cover the request<br>
                            You can not request a weekend, or less than one hour<br>
                            Half day requests and full day requests must be put in separately<br>
<b>*Time Correction Guidelines:</b><br>It must be a single day request<br>
                            It does not account for lunch (if you took a lunch deduct the time from your ending time)<br>
                            If a correction is submitted for a day that does not already have a time entry it will create a new entry.<br>
<b>*Overtime Guidelines:</b><br>It must be a single day request<br>

  </p>
</div>
<div style = "position:absolute; left:10%">
<h4>Enter PTO, Sick Time, Overtime, and Time Corrections here</h4>
<form style="float:initial;" method="post">
  {% csrf_token %}  {{form.as_p}}
  <input style="background-color: dodgerblue; color: white;" type="submit" class="btn btn-primary" value="Submit Request"></input>
</form>


{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
  {% endfor %}
</ul>
{% endif %}
</div>

{% endblock %}

