{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}
<form method="post">
    {% csrf_token %} {{form.as_p}}
    <button type="submit" name="manual">Manual Clock In/Out</button>
    {% if not form.clocked_in.value and form.in_time.value == None %} 
    <button type="submit" name="autoIn">Auto Clock In</button>
    {% elif form.clocked_in.value == True and form.in_time.value != None and form.lunchin_time.value == None%}
    <button type="submit" name="lunchIn">Auto lunch Clock In</button>
    {% elif not form.clocked_in.value == True and form.lunchin_time.value != None and form.lunchout_time.value == None %}
    <button type="submit" name="lunchOut">Auto lunch Clock Out</button>
    {% elif form.clocked_in.value == True and form.lunchout_time.value != None and form.out_time.value == None %}
    <button type="submit" name="autoOut">Auto Clock Out</button>
    {% endif %}
</form>
 {% endblock %}