{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}

<div class="help-tip">
    <p>
        *<b>Auto Clock In:</b> Click this button to use the current time as your Clock in Timestamp<br>
        *<b>Auto Lunch Start:</b> Click this button to use the current time as the start of your lunch break<br>
        *<b>Auto Lunch End:</b> Click this button to use the current time as the end of your lunch break<br>
        *<b>Auto Clock Out:</b> Click this button to use the current time as your Clock out Timestamp<br>
        *<b>Manual Clock In/Out</b> This button should only be used when you have forgotten to make a time stamp, first enter the time in the field that you missed (Clock In, Lunch Start, Lunch End, or Clock Out) and then click this button for that time to be reported.
    </p>
</div>
<div style = "position:absolute; left:10%">

<form method="post" style="position: relative; left: 40px;">
    {% csrf_token %}

    <h2>Clock in with the current time.</h2>


    <input style="background-color: dodgerblue; color: white;" type="submit" name="autoIn" class = "btn btn-primary" value = "Clock In"{% if not form.clocked_in.value and form.in_time.value == None %}enabled{%else%}disabled{% endif %}/>


    <input style="background-color: dodgerblue; color: white;" type="submit" name="lunchIn" class = "btn btn-primary" value = "Start Lunch"{% if form.clocked_in.value == True and form.in_time.value != None and form.lunchin_time.value == None%}enabled{%else%}disabled{% endif %}/>

    <input style="background-color: dodgerblue; color: white;" type="submit" name="lunchOut" class = "btn btn-primary" value = "End Lunch"{% if not form.clocked_in.value == True and form.lunchin_time.value != None and form.lunchout_time.value == None %}enabled{%else%}disabled{% endif %}/>

    <input style="background-color: dodgerblue; color: white;" type="submit" name="autoOut" class = "btn btn-primary" value = "Clock Out"{% if form.clocked_in.value == True and form.in_time.value != None and form.out_time.value == None %}enabled{%else%}disabled{% endif %}/>
    <br><br><br>


    <h2>Use for manually entering time.</h2>
    {{form.as_p}}

    <p>Note: This will flag your entry as manual.</p>
    <p>This should be used as a backup to the auto entry buttons above.</p>
    <br>
    <input style="background-color: dodgerblue; color: white;" type="submit" class="btn btn-primary" name="manual" value="Manual Clock In/Out"/>

</form>


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <li>{{message}}</li>
        {% endif %}
    {% endfor %}
{% endif %}
</div>
{% endblock %}
