{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}
<form method="post">
    {% csrf_token %} 
    {% if onlyuser and request.user.is_staff %}
    {{form.as_p}}
    <button type="submit" name = "userSub">submit</button>
    {{ userformset.management_form }}
    {% else %}
    <table>
    <thead>
    <tr>
        {% for form in userformset %}
        <th>
            <p>
                {{ forloop.counter1 }}
            </p>
            <p>
                {{ form.dateTimeEntered.value }}
            </p>
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for form in userformset %}
        <td>
        {{ form.as_p }}
        </td>
        {% endfor %}
    </tr>
    </tbody>
    </table>


    <button type="submit" name="last">Last Week</button>
    <button type="submit" name="next">Next Week</button>
    <button type="submit" name="weeklyTimeSubmit">submit</button>
    {% endif %}
</form>
 {% endblock %}
