{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}
<form method="post">
    {% csrf_token %} {{form.as_p}}
    {% if onlyuser %}
    <button style="background-color: dodgerblue; color: white;" type="submit" name = "userSub">submit</button>
    {% else %}

    {{ userformset.management_form }}
    <table>
    <thead>
    <tr>
        {% for form in userformset %}
        <th>
            <p>
                {{ forloop.counter0 }}
            </p>
            <p>
                {{ form.dateTimeEntered.value }}
            </p>
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for form in userformset %}
        <td>
        {{ form.as_p }}
        </td>
        {% endfor %}
    </tr>
    </tbody>
    </table>


    <button style="background-color: dodgerblue; color: white;" type="submit" name="left">"<---"</button>
    <button style="background-color: dodgerblue; color: white;" type="submit" name="right">"--->"</button>
    <button style="background-color: dodgerblue; color: white;" type="submit" name="weeklyTimeSubmit">Submit</button>
    {% endif %}
</form>
 {% endblock %}