{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}

<h3>Use this form to choose a custom start and end date for time summary the report.</h3>
<form method="post" id="form2">
{% csrf_token %} {{ form2.as_p}}
  <input class="btn mt-3 btn-primary" name="customSummary" value="Submit" type="submit"/>
  {% comment %} <button type="submit" name='form2-submit'>Custom Date Summary Report</button> {% endcomment %}
</form>
<br>
<br>

<h3>Use this form to choose a predefined number of days for the time summary report.</h3>
<form method="post" id="form">
{% csrf_token %} {{ form.as_p}}
  {% comment %} <button type="submit" name='form-submit'>Pre-Defined Summary Report</button> {% endcomment %}
   <input class="btn mt-3 btn-primary" name="predefined" value="Submit" type="submit"/>
</form>
<br>
<br>
<br>

<h3>Use this form to pull the actual time entries between the selected days.</h3>
<form method="post" id="form3">
{% csrf_token %} {{ form3.as_p}}
  <input class="btn mt-3 btn-primary" name="timeEntry" value="Submit" type="submit"/>
  {% comment %} <button type="submit" name='form3.submit'>Generate Time Entry Report</button> {% endcomment %}
</form>
<br>
<br>
<br>
<p>** These reports include the dates provided when run. They also will assume a lunch break of 30 minutes if an employee only enters a lunch in or lunch out time by mistake.</p>

{% endblock %}
