
{% extends 'admin/change_form.html' %}
{% block form_top %}



<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<input type=button onclick="myFunction()" value="Show Help Text"></input>
<div style="display:none" id="myDIV">
{% if help_text %}<p>{{ help_text }}</p>{% endif %}
</div>
{% endblock %}

 {% comment %} change_form_help_text.html {% endcomment %}